@media only screen and (max-device-width: 960px) {

#sidebar{
	clear: both;
	z-index: 9999;
	margin: 0;
	height: 100%;
	display: none;
}

#sidebar ul ul{
	margin: 0 0 0 5px;
}

#sidebar ul li a, #sidebar ul li a:visited{
	padding: 10px;
}

#sidebar ul ul li a, #sidebar ul ul li a:visited{
	padding: 10px;
}

#wrapper{
	border: none;
}

.show-sidebar{
	position: relative;
	display: block;
	background: url("/core/content/themes/admin/images/menu.png") #1a5eac no-repeat;
	background-size: 100% 100%;
	width: 48px;
	height: 48px;
}

.selected{
	background-color: #12223D;
}

.manage th:not([class="always-show"]), .manage td:not([class="always-show"]){
	display: none;
}

.summary{
	width: 100%;
}

}