* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Sans-Serif;
	font-style: normal;
	background: #F8F8F8;
	color: #222;
	font-size: 13px;
	text-align: center;
}

a{
	color: #336699;
	text-decoration: none;
}

a:hover{
	color: #0099ff;
}

h1, h2{
	margin: 10px 0;
}

#wrapper{
	min-height: 1024px;
	text-align: left;
	border-left: 150px #12223D solid;
	position: relative;
	clear: both;
}

#wrapper:after{
	clear: both;
	content: '';
	display: table;
}

#sidebar{
	background: #12223D;
	width: 150px;
	float: left;
	color: #fff;
	margin-left: -150px;
	position: fixed;
}

#sidebar ul{
	list-style: none;
}

#sidebar ul ul{
	margin: 0 10px 0 30px;
	/*display: none;*/
}


#sidebar ul li a, #sidebar ul li a:visited{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 8px 30px;
	margin-bottom: 5px;
}

#sidebar .separator{
	margin: 5px auto;
	width: 50%;
	border: 1px #142E59 solid;
}

#sidebar ul li a:hover{
	background: #00325E;
}

#sidebar ul li a.selected{
	background: #167DC7;
}

#sidebar ul ul li a, #sidebar ul ul li a:visited{
	padding: 5px 10px;
}

#content{
	float: left;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
}

#footer{
	clear: both;
	margin: 10px;
	padding: 10px;
	border-top: 1px #ccc solid;
}

#footer .ucms-version{
	font-style: italic;
	float: right;
	text-align: right;
}

.manage{
	width: 100%;
	border: 1px #ccc solid;
	border-radius: 2px;
	border-spacing: 0;
	font-size: 13px;
	line-height: 20px;
}

.manage p{
	margin: 5px;
}

.manage tr{
	background: #ccc;
}


.manage td, .manage th{
	background: #f0f0f0;
	border-bottom: 1px #ccc solid;
	padding: 10px;
}

.manage th{
	background: #fff;
	border-bottom: 2px #ccc solid;
	font-size: 15px;
	font-weight: normal;
}

.manage .enabled td{
	background: #EAF2F7;
}

.show-sidebar{
	display: none;
}

.delete-button, .delete-button:visited{
	color: #CE1A1A;
}

.delete-button:hover{
	color: #FF2323;
}

.manage-actions{
	color: #ccc;
}

.error, .warning, .success{
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
	padding: 10px;
	margin: 10px auto;
	background: #fdfdfd;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.error{
	border-left: 10px #D93030 solid;
	border-right: 10px #D93030 solid;
}

.warning{
	border-left: 10px #C4AF23 solid;
	border-right: 10px #C4AF23 solid;
}

.success{
	border-left: 10px #168A24 solid;
	border-right: 10px #168A24 solid;
}

.summary{
	width: 25%;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.last-added{
	width: 70%;
	float: left;
}

.info{
	float: left;
	width: 50%;
}

.info .amount{
	/*display: block;	*/
	float: right;
	margin-right: 20%;
}

#content .ucms-form{
	font-size: 15px;
	/*width: 100%;*/
	line-height: 150%;
}

#content .form-item{
	clear: both;
	margin: 10px;
	padding: 20px 0;
}

#content .form-item label{
	font-weight: bold;
	float: left;
	width: 20%;
}

#content .form-item input:not([type=submit]), .form-item select{
	float: left;
	padding: 5px;
}

.form-item input[type=submit], .button{
	background: #3C89E0;
	border: 1px solid #1a5eac;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
}

.form-item input[type=submit]:hover, .button:hover{
	text-decoration: none;
	background: #4196F2;
	cursor: pointer;
	color: #fff;
}

.form-item .field-description{
	float: left;
	margin-left: 10px;
}

#block{
	background: #fff;
	color: #333;
	max-width: 480px;
	height: 100%;
	margin: 10% auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.14);
	overflow: hidden;
}

.inner{
	padding: 20px;
}

.inner h2{
	display: block;
	margin-bottom: 20px;
}

.inner .ucms-form{
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
}

.inner .form-item{
	clear: both;
	margin-bottom: 5px;
}

.inner .form-item label, .inner .form-item input:not([type=submit]){
	clear: both;
	padding: 5px;
	display: block;
	margin: 0 auto;
}

.inner .form-item label{
	font-weight: bold;
}