* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 13px/18px Arial, sans-serif;
	background: #f0f0f0;
}

.wrapper {
	width: 100%;
	min-height: 1024px;
	margin: 0 auto;
	max-width: 1600px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
	background: #D0E3F2;
}

.header h1 {
	padding: 10px;
	float: left;
}

.header a, .header a:hover {
	color: #000;
	text-decoration: none;
}

.header h2 {
	padding: 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-right: 250px solid #222;
	position: relative;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}

/* Navigation
-----------------------------------------------------------------------------*/

.nav{
	clear: both;
	background: #222;
	overflow: hidden;
}

.nav ul{
	list-style: none;
}

.nav ul li a{
	font-size: 15px;
	padding: 15px 20px 15px 20px;
	float: left;
	color: #fff;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

.nav ul li a:hover, .nav ul li a.selected{
	background: #1a5eac;
}

/* Entry
-----------------------------------------------------------------------------*/
.entry{
	margin: 20px 20px 0 0;
	font-size: 14px;
	line-height: 150%;
	background: #fff;
	border: 1px #ccc solid;
}

.entry .header{
	background: #f5f5f5;
	height: 30px;
	border-bottom: 1px #ccc solid;
	font-size: 15px;
	text-transform: uppercase;
}

.entry .header .categories{
	background: #ddd;
	font-size: 13px;
	float: left;
	padding: 5px;
	border-right: 1px #ccc solid;
}

.entry .header .title{
	float: left;
	padding: 5px;
}

.entry .header .date{
	float: right;
	border-left: 1px #ccc solid;
	padding: 5px;
}

.entry .content{
	padding: 5px 15px 10px 15px;
	font-size: 15px;
}

.entry .content .more-link{
	background: #1e4f80;
	color: #fff;
	margin: 5px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.entry .info{
	background: #f5f5f5;
	height: 30px;
	border-top: 1px #ccc solid;
	font-size: 15px;
	text-transform: uppercase;
}

.entry .info .comments{
	float: left;
	border-right: 1px #ccc solid;
	padding: 5px;
}

.entry .info .comments a{
	padding: 5px;
	text-decoration: none;
	color: #000;
}

.entry .info .comments a:before{
	content: '';
	background: url(images/comments.png);
	background-size: 100% 100%;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}


.entry .info .tags{
	float: left;
	color: #333;
	text-transform: none;
	border-right: 1px #ccc solid;
	padding: 5px;
}

.entry .info .admin{
	float: right;
	border-left: 1px #ccc solid;
	padding: 4px 0 0 0;
}

.entry .info .admin a{
	background: #6d8199;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

.entry .info .admin a:hover{
	color: #fff;
	background: #405a7a;
	text-decoration: none;
}

/*---------------------------------------------------------------------------*/

.error, .warning, .success{
	border-radius: 2px;
	width: 80%;
	color: #000;
	padding: 10px;
	margin: 0 auto;
	
}

.error{
	border: 1px #D93030 solid;
	background: #E6A3A3;
}

.warning{
	border: 1px #C4AF23 solid;
	background: #EDDF80;
}

.success{
	border: 1px #168A24 solid;
	background: #74D96F;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	margin-right: -250px;
	width: 250px;
	position: relative;
	min-height: 1024px;
	color: #fff;
}

.right-sidebar ul{
	list-style: none;
	margin-left: 10px;
}

.right-sidebar a{
	color: #ccc;
}

/* User card
-----------------------------------------------------------------------------*/
.user-card{
	margin: 10px;
}

.user-menu{
	list-style: none;
}

.user-menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #262626;
	color: #fff;
	text-align: center;
}