* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 13px/18px Arial, sans-serif;
}

.wrapper {
	min-width: 1024px;
	max-width: 1600px;
	min-height: 1024px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #D0E3F2;
}

.header h1 {
	padding: 10px;
}

.header a, .header a:hover {
	color: #000;
	text-decoration: none;
}

.header h2 {
	padding: 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-right: 250px solid #000;
	position: relative;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}

.content {
	padding: 20px;
}

.entry{
	margin-top: 10px;
	font-size: 14px;
	line-height: 150%;
}

.entry .content{
	margin-left: 5px;
	padding: 5px;
}

.error, .warning, .success{
	border-radius: 2px;
	width: 80%;
	color: #000;
	padding: 10px;
	margin: 0 auto;
	
}

.error{
	border: 1px #D93030 solid;
	background: #E6A3A3;
}

.warning{
	border: 1px #C4AF23 solid;
	background: #EDDF80;
}

.success{
	border: 1px #168A24 solid;
	background: #74D96F;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	margin-right: -250px;
	width: 250px;
	position: relative;
	min-height: 1024px;
	color: #fff;
}

.right-sidebar ul{
	list-style: none;
	margin-left: 10px;
}

.right-sidebar a{
	color: #ccc;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #1e5eac;
	color: #fff;
	text-align: center;
}