* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}

.wrapper {
	min-width: 1024px;
	max-width: 1600px;
	min-height: 1024px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #D0E3F2;
}

.header h1 {
	padding: 10px;
}

.header a, .header a:hover {
	color: #000;
	text-decoration: none;
}

.header h2 {
	padding: 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-right: 200px solid #F9FDFF;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
.content {
	padding: 20px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	margin-right: -200px;
	width: 200px;
	position: relative;
	/*background: #FFACAA;*/
	min-height: 1024px;
	border-left: 1px #D0E3F2 inset;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #1e5eac;
	color: #fff;
	text-align: center;
}