* { 
	margin: 0; padding: 0; 
}

body {
	font-family: Arial, Helvetica, Georgia, Sans-serif;
	font-size: 12px;
	text-align: left;
	color: #000000;
	background: #f8f8f8;
}

a, a:visited{
	text-decoration: none;
	color: #1F3A6E;
}

a:hover{
	text-decoration: underline;
	color: #336699;
}

#content {
	padding: 10px;
	position: absolute;
	left: 152px;
	width: 85%;
	background: #f8f8f8;
}

.manage{
	width: 100%;
	background: #ccc;
	border-radius: 4px;
}

.manage a:hover{
	color: #fff;
}

.manage tr:hover{
	background: #78D0FF;
}

.manage th{
	padding: 5px;
	text-align: left;
	background: #E3E3E3;
	border-radius: 2px;
}

.manage th:hover{
	color: #fff;
	background: #3FAFEB;
}

.manage th:hover a{
	color: #fff;
}

.manage th:hover a:visited{
	color: #fff;
}

.manage td{
	padding: 5px;
	text-align: left;
	background: #fff;
	border-radius: 2px;
}

.manage td:hover{
	color: #fff;
	background: #36B8FF;
}

.manage td:hover a{
	color: #fff;
}

.manage td:hover a:visited{
	color: #fff;
}

.sidebar {
	position: fixed;
	width: 150px;
	height: 100%;
	background: #fff;
	border-right: 2px solid #5f5f5f;
}

.sidebar ul{
 	list-style: none;
}

.sidebar-border {
	margin: 5px 25px 5px 25px;
	color: #ccc;
	border: 1px #ccc solid;
}

.sidebar ul li>a{
	display:block;
	text-align:left;
	padding: 10px 0 10px 30px;
}

.sidebar ul li>a:hover{
	text-decoration: none;
	color: #fff;
	background: #0099FF;
}

.sidebar ul li ul li>a{
	display:block;
	text-align:left;
	padding: 5px 0 5px 40px;
	background: #fff;
	color: #1F3A6E;
}

.sidebar ul li ul li>a:visited{
	color: #1F3A6E;
}

.sidebar ul li ul li>a:hover{
	text-decoration: none;
	color: #fff;
	background: #45B5FF;
}

.selected{
	background: #0099FF; 
	color: #fff;
}

.selected a{
	color: #fff;
}

.selected a:visited{ 
	color: #fff;
}

.selected2{
	background: #45B5FF; 
	color: #fff;
}

.selected2 a{
	color: #fff;
}

.selected2 a:visited{ 
	color: #fff !important;
	background: #45B5FF; 
}

input[type="text"], input[type=password], input[type=email] {
	height: 25px;
	width: 400px;
}

select {
	width: 400px;
}

textarea {
	max-width: 1280px;
	min-width: 1024px;
	height: 98%;
}

.forms{
	width: 500px;
	background: #fff;
	border-radius: 4px;
	border: 2px solid #ccc;
	padding: 10px;
	border-spacing: 10px;
	margin: 10px;
}

.forms td{
	color: #1f1f1f;
}

.error{
	border-radius: 2px;
	border: 1px #D93030 solid;
	width: 500px;
	background: #E6A3A3;
	color: #000;
	padding: 10px;
	margin: 0 auto;
}

.warning{
	border-radius: 2px;
	border: 1px #C4AF23 solid;
	width: 500px;
	background: #EDDF80;
	color: #000;
	padding: 10px;
	margin: 0 auto;
}

.success{
	border-radius: 2px;
	border: 1px #168A24 solid;
	width: 500px;
	background: #74D96F;
	color: #000;
	padding: 10px;
	margin: 0 auto;
}

.admin-login{
	padding: 20px; 
	border-radius: 8px;
	text-align:center; 
	margin: 20% auto; 
	background: #ffffff;
	border: 1px solid #3C9CD2;
	width: 50%;
	overflow: hidden;
}

.pages{
	background: #00b4ff;
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
}

.pages-selected{
	background: #0050E6;
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
}

.pages-selected:hover{
	color: #fff;
	text-decoration: none;
}

.pages:hover {
	background: #0050E6;
	color: #fff;
	text-decoration: none;
}

.pages:visited {
	color: #fff;
}

.editb{
	padding: 2px;
}

.themes td{
	width: 250px;
}

.themes td ul li{
	list-style: none;
	padding: 0;
	line-height: 25px;
	text-align: left;
	word-wrap: break-word;
}

.themes td ul li span{
	color: #7D7D7D;
}

.themes{
	border-spacing: 10px;
}

.themes td{
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 5px #000;
	text-align: center;
}

.themes td img{
	border: 1px #0099FF solid;
	border-radius: 4px;
}

.install-button{
	background: #21A6FF;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	border: 1px #21A6FF solid;
}

.install-button:hover{
	background: #007BFF !important; 
	text-decoration: none !important;
	color: #fff !important;
}

.install-button:visited{
	background: #21A6FF;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	border: 1px #21A6FF solid;
}

.delete-button{
	background: #ff0000; 
	padding: 3px;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #ff0000;
}

.delete-button:hover{
	background: #C90000; 
	text-decoration: none;
	color: #fff;
}

.delete-button:visited{
	background: #ff0000; 
	padding: 3px;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #ff0000;
}

.ucms-button-submit{
	background: #21A6FF;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	border: 1px #0095FF solid;
}

.ucms-button-submit:hover{
	background: #007BFF;
}

.info{
	background: #ccc;
	border-radius: 4px;
}

.info th{
	padding: 5px;
	background: #ddd;
}

.info td{
	padding: 10px;
	border-radius: 2px;
	background: #fff;
	
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    font-size: 12pt;
    padding: 2px;
 }

#footer{
	margin-top: 20px;
	border-top: 1px #ccc solid;
	padding: 5px;
}

.files{
	list-style: none;
}

.files li a{
	padding: 10px;
	display: block;
}

.files li>a:hover{
	color: #fff;
	background: #0099FF;
	text-decoration: none;
}

.ucms-add-button{
	background: #35c9ff;
	border: 1px solid #0099FF;
	padding: 5px;
	border-radius: 4px;
	color: #fff;
}

.ucms-add-button:visited{
	color: #fff;
}

.ucms-add-button:hover{
	color: #fff;
	text-decoration: none;
	background: #70caff;
}

.none td{
	border: none;
	box-shadow: none;
	padding: 0;
}

.update-cat{
	display: none;
}

